<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>genys.io</h1>
    <p>The SQL generator</p>
    <a href="">fork me</a>
    <br>
    <br>
    <hr>
    <label for="name">Enter table name: </label>
    <input type="text" name="name" value="users">
    <br>
    <form action="generate">
    Select what kind of data you want to generate:
        <select id="type" name="type">
        </select>
        <a href="/types">view data type</a>
        <div id="subtypes">
            
        </div>
        <h3>Generate data:</h3>
        <label for="count">How many entries?</label>
        <input type="number" name="count" value=5>
        <br>
        <input type="submit" value="JSON" name="format">
        <input type="submit" value="CSV" name="format">
    </form>
</body>
<script>
    

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var types = JSON.parse(this.responseText);
            types.forEach(function(t) {
                var select = document.getElementById("type");
                var opt = document.createElement('option');
                opt.value = t.option;
                opt.innerHTML = t.option;
                select.appendChild(opt); 
            });
        }
    }
    xhttp.open("GET", "/types?json=1", true);
    xhttp.send();
</script>
</html>
